@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto+Mono:wght@200&family=Source+Sans+Pro:ital,wght@1,300&family=Ubuntu:ital,wght@1,300&display=swap');

body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
	font-family: "Inconsolata", monospace;
}

h3.subtitle {
  color: #66ccff;
  font-family: 'Ubuntu', "Open Sans", sans-serif;
}

p.caption {
  color: #bababa;
  font-size: 10;
  font-style: italic;
}

p {
  font-family: "Roboto Mono", monospace;
}

img {
  width: 100%;
  height: 100%;
}
